html, body {
  margin: 0;
  padding: 0;
}
#editor {
    display: none;
}

#picker {
    position: absolute;
    left: 700px;
}
canvas {
    display: block;
    margin-top: 10px;
    background-color: white;
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

